<form class="border p-2" (submit)="onSubmit($event)">
  <div class="mb-1.5">
    <label for="email">Email:</label>
    <input type="email" id="email" [formField]="loginForm.email" class="border rounded-[10px]" />
    @if (loginForm.email().invalid() && loginForm.email().touched()) {
      <div class="error">
        @for (error of loginForm.email().errors(); track error.kind) {
          <span>{{ error.message }}</span>
        }
      </div>
    }
  </div>
  <div class="mb-1.5">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [formField]="loginForm.password"
      class="border rounded-[10px]"
    />
    @if (loginForm.password().invalid() && loginForm.password().touched()) {
      <div class="error">
        @for (error of loginForm.password().errors(); track error.kind) {
          <span>{{ error.message }}</span>
        }
      </div>
    }
  </div>
  <div class="mb-1.5">
    <label for="remember me">Remember me:</label>
    <input type="checkbox" id="remember me" [formField]="loginForm.rememberMe" />
  </div>
  <button
    type="submit"
    [disabled]="loginForm().invalid()"
    class="btn btn-primary bg-[green] p-[10px_20px] rounded-[10px] text-white"
  >
    Login
  </button>
</form>
